* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 100px; /* adjust if needed */
}

/* Moving banner */
.top-banner {
  background: black;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.banner-text {
  display: inline-block;
  padding: 10px 0;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 40px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; /* reduce from 40px */
  box-sizing: border-box; /* VERY IMPORTANT */
}


.menu {
  display: flex;
  gap: 20px; /* cleaner spacing */
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a:hover {
  color: grey;
}

.logo img {
  height: 60px;
  width: 60px;
}

